{{#section 'css'}}
    <link rel="stylesheet" href="/public/css/modal.css">
{{/section}}

{{#section 'js'}}
    <script>
        var type2 = document.querySelectorAll(".typePokemon2")
        var type1 = document.querySelectorAll(".typePokemon1")
     
        type1.forEach(function(typeOne,indextype1){
                type2.forEach(function(typeTwo,indextype2){
                        if(indextype1==indextype2){
                            if(typeTwo.textContent==''){
                                   typeTwo.classList.add('bgwhite')
                            }
                            if(typeOne.textContent==''&&typeTwo.textContent!=''){
                                typeOne.textContent =typeTwo.textContent
                               typeTwo.textContent=''
                                typeTwo.classList.add('bgwhite')
                            }else if(typeOne.textContent==''&&typeTwo.textContent==''){
                                typeOne.classList.add('bgwhite')
                            }
                            
                        }
                        
                })
        })
        var disabled = document.querySelector('.disabled')
       // console.log(disabled)
       // disabled.remove();
    </script>
    <script src="/public/js/search.js"></script>
{{/section}}
<div class="content">
                <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-search-center">
                                <div class="card-rt">
                                    <h3>WHO THAT POKEMON ?</h3>
                                    <div class="card-rt-content">
                                    <input type="text" class="namePokemon" placeholder="Who that pokemon ?">
                                    <button id="btn-search" class="btn-search">Tìm kiếm </button>
                                    </div>
                                    {{!-- <p> Tìm kiếm theo tên của chúng</p> --}}
                                </div>
                        </div>
                         <div class="paging-navition">
                                    <ul>
                                        
                                        <li class="{{#unless go_prev}}  disabled {{/unless}}">
                                            <a class="page-link" href="/?page={{prev}}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        {{#each pageItem}}
                                            <li ><a class="numberpage {{#if isDisabled}}  disabled {{/if}}" href="/?page={{value}}">{{value}}</a></li>
                                        {{/each}}
                                    
                                        <li class="page-item {{#unless go_next}}  disabled {{/unless}}" >
                                            <a class="page-link" href="/?page={{next}}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                        </div>

                        <div class="card-pokemon-content">
                            {{#each pokemon}}
                            <div class="item-card-pokemon">
                                <a href="/pokemon/{{idPokemon}}">
                                    <div class="item-img-pokemon">
                                    <img   src="{{image}}"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#{{stt idPokemon}}</p>
                                            <h5>{{name}}</h5>
                                            <div class="item-abilities-pokemon">
                                                <p class="typePokemon1">{{Type1}}</p>
                                                <p class="typePokemon2">{{Type2}}</p>
                                            </div>
                                    </div>
                                </a>
                            </div>   
                            {{/each}}
                        </div>         
                </div>   
                 
</div>
{{!-- MODAL RỖNG    --}}
<div class="modal-check">
    <div class="modal-container">
        <div class="header-modal">
            <i class="fas fa-times"></i>
        </div>
       <div class="modal-body">
        <p> TÊN POKEMON ĐANG RỖNG</p>
        <button class="close-modal">Đóng</button>
       </div>
      
    </div>
</div>
{{!-- MODAL LOADING  SEARCH  --}}
<div class="modal-loading">
    <div class="modal-loading-container">
        <i class="fas fa-spinner"></i>
    </div>
</div>

