{{#section 'css'}}
    <link rel="stylesheet" href="/public/css/modal.css">
{{/section}}

{{#section 'js'}}
    <script> 
        $("#namePokemon").keyup(function(event) {
           if (event.keyCode === 13) {
                $("#btn-search").click();
            }
       });
 
       // console.log(disabled)
       // disabled.remove();
    </script>
    {{!-- <script src="/public/js/search.js"></script> --}}
    <script src="/public/js/pokemonhome.js"></script>

{{/section}}
<div class="content">
                <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-search-center">
                                <div class="card-rt">
                                    <h3>WHO THAT POKEMON ?</h3>
                                    <div class="card-rt-content">
                                    <input type="text" class="namePokemon" id="namePokemon" placeholder="Who that pokemon ?">
                                    <button id="btn-search" id="btn-search" class="btn-search">Tìm kiếm </button>
                                    </div>
                                    {{!-- <p> Tìm kiếm theo tên của chúng</p> --}}
                                </div>
                        </div>
                         <div class="paging-navition">
                             <div class="box-top">
                                    <div class="dropdown-lef" id="select-sort">
                                            <select id="xapxep">
                                            <option value="none">Sort by default ...</option>
                                            <option value="az"> <a href="#">A- Z</a></option>
                                            <option value="za" >Z-A</option>
                                            <option value="allpokemon" >All Pokemon</option>
                                            </select>
                                    </div>
                             </div>                  
                        </div>
                        <div class="listingTable">
                                <a href="javascript:void(0)" id="btn_prev"> &laquo; Prev</a>
                                <a href="javascript:void(0)" id="btn_next">Next &raquo;</a>
                        </div>
                                
                        <div class="card-pokemon-content">
                            {{#each pokemon}}
                            <div class="item-card-pokemon">
                                <a href="/pokemon/{{idPokemon}}">
                                    <div class="item-img-pokemon">
                                    <img   src="{{image}}"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#{{stt idPokemon}}</p>
                                            <h5>{{name}}</h5>
                                            <div class="item-abilities-pokemon">
                                                <p class="typePokemon1">{{Type}}</p>
                                                {{!-- <p class="typePokemon2">{{Type2}}</p> --}}
                                            </div>
                                    </div>
                                </a>
                            </div>   
                            {{/each}}
                        </div>         
                </div>   
          
                 
</div>
{{!-- MODAL RỖNG    --}}
<div class="modal-check">
    <div class="modal-container">
        <div class="header-modal">
            <i class="fas fa-times"></i>
        </div>
       <div class="modal-body">
        <p> TÊN POKEMON ĐANG RỖNG</p>
        <button class="close-modal">Đóng</button>
       </div>
      
    </div>
</div>
{{!-- MODAL LOADING  SEARCH  --}}
<div class="modal-loading">
    <div class="modal-loading-container">
        <i class="fas fa-spinner"></i>
    </div>
</div>

